.middle{
    max-width: 100%;
}

.portm{
    margin: 0.5% 20%;
    padding: 0.625rem;
    border-radius: 5%;
    background-color: var(--colorbacklight);
    height: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portm > h1{
     color: var(--colorwhite);
    font-family: var(--font-sans-serif);
    border-bottom: 0.0625rem solid var(--colorgrey);
    width: 100%;
}




